* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(236, 235, 231);
  margin: 30px;
}
.card .card1 {
  background-color: white;
  display: flex;
  height: 320px;
  width: 550px;
  border-radius: 19px;
}

.main .image img {
  height: 190px;
  margin-top: 85px;
}
.heading .icon {
  display: flex;
  margin-top: 38px;
  gap: 10px;
}
.icon .imga img {
  height: 70px;
  border: 2px solid red;
  border-radius: 50%;
}
.icon .text h1 {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.678);
}
.icon .bar {
  height: 6px;
  width: 84%;
  background-color: cadetblue;
}
.icon .para {
  margin-top: 12px;
}
.heading .par {
  margin-top: 25%;
  width: 300px;
  font-size: 19px;
  line-height: 30px;
  font-style: inherit;
  font-weight: bold;
}
