* {
  margin: 0;
  padding: 0;
}

.login-info {
  width: 80%;
  height: 70%;
  background-color: rgb(236, 253, 247);
  margin: auto;
  margin-top: 50px;
}
.login-info form {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(252, 244, 244, 0.2);
  padding: 30px;
  border-radius: 19px;
}
.imgcontainer {
  text-align: center;
  cursor: pointer;
}
.login-info input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  font-size: 15px;
  border-radius: 9px;
  box-sizing: border-box;
}
.login-info button {
  background-image: linear-gradient(
    to right,
    rgb(245, 92, 194),
    rgb(102, 71, 241)
  );
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
}
.imgcontainer img {
  height: 25px;
  width: 35px;
  margin-top: 12px;
  padding: 7px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 2px rgb(210 205 215 / 61%);
}
.flg {
  display: flex;

  gap: 30px;
  padding: 8px;
}

.bar {
  width: 40px;
  margin: auto;
  height: 6px;
  display: block;
  background-image: linear-gradient(
    to right,
    rgb(245, 92, 194),
    rgb(102, 71, 241)
  );
}
