* {
  margin: 0;
  padding: 0;
}

.main-page {
  background-color: rgb(5, 184, 124);
  height: 100vh;
  text-align: center;
  padding-top: 7%;
}
.page-info {
  color: white;
  font-size: 25px;
  font-weight: bolder;
}

.page {
  color: white;
  font-size: 25px;
  padding: 1rem;
}

.btnmade button {
  padding: 16px 51px;
  border-radius: 6px;
  border: none;

  color: rgb(13, 155, 108);
  font-size: 18px;
  margin: 1rem;
  
}
.btnmade div:hover {
    background-color: lawngreen;
    
    transform: scale(1.5);