* {
  margin: 0;
  padding: 0;
}

.main-section {
  background-color: rgb(140, 168, 221);
  height: 100vh;
}
.section {
  text-align: center;
}
.section h1 {
  color: rgb(30, 13, 185);
  font-size: 40px;
}
.section h3 {
  font-size: 23px;
}
.section p {
  font-size: 20px;
  margin: 9px;
  color: #f0f8ff;
}
.section .section-info {
  background-color: rgb(81, 131, 223);
  margin: 15px;
  padding: 30px;
  text-decoration: none;
}
.change {
  text-decoration: none;
}
