<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doc</title>
    </title>
    <link rel="stylesheet" href="../css/card2.css" />
  </head>
  <body>
    <div class="main-page">
      <div class="card">
        <div class="card1">
          <div class="main">
          <div class="image">
            <img src="../image/mind.png" alt="user image" />
          </div>
          </div>
          <div class="heading">
            <div class="icon">
            <div class="imga">
              <img src="../image/images.png" alt="user image" />
            </div>
            <div class="text">
              <h1>Train your mind by</h1>
              <div class="bar"></div>
              <div class="para">
              <h1>practising</h1>
              </div>
            </div>
            </div>
          <div class="par">
            <p>
              Get Every types of problems and solutions that will boost mind
            </p>
          </div>
        <div class="card2"></div>
      </div>
    </div>
  </body>
</html>
