<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="../css/card.css">
</head>
<body>
    <div class="card-container">
        <div class="main-card">
            <div class="card-status">
                <p>pro</p>
            </div>
            <div class="card-image">
                <img src="../image/user.jpg" alt="user image">
            </div>
            <div class="card-info">
                <h1>User Name</h1>
                <p>Lorem ipsum dolor sit amet.jdkjkhjk jhdjkdb</p>
            </div>
        </div>
    </div>
</body>
</html>