<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card</title>
    <link rel="stylesheet" href="../css/card.css" />
  </head>
  <body>
    <div class="card-container">
      <div class="main-card">
        <div class="card-status">
          <p>pro</p>
        </div>
        <div class="card-image">
          <img src="../image/user.jpg" alt="user image" />
        </div>
        <div class="head">
          <h1>Vartika Kumari</h1>
          <h5>NODIA UP.</h5>
        </div>
        <div class="para">
          <p>User interface desiginer and front-end developer</p>
        </div>
        <div class="but">
          <button style="background-color: blueviolet">Message</button>
          <button style="color: blueviolet">Following</button>
        </div>
      </div>
    </div>
  </body>
</html>
