<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doc</title>
    </title>
    <link rel="stylesheet" href="../css/card2.css" />
  </head>
  <body>
    <div class="main-page">
      <div class="card">
        <div class="card1">
          <div class="heading">
            <div class="imga">
              <img src="../image/user.jpg" alt="user image" />
            </div>
            <div class="main">
              <h1>Train your mind by</h1>
              <div class="bar">12345</div>
              <h1>practising</h1>
            </div>
          </div>
          <div class="paragraph"></div>
          <div class="image">
            <img src="../image/user.jpg" alt="user image" />
          </div>
          <div class="par">
            <h4>
              Get Every types of problems and solutions that will boost mind
            </h4>
          </div>
        </div>
        <div class="card2"></div>
      </div>
    </div>
  </body>
</html>
