<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/card-info.css" />
  </head>
  <body>
    <div class="info-card">
      <div class="photo">
        <img src="../image/profile.png" />
        <div class="text">
          <h1>Train Your Mind by Practising</h1>
        </div>
      </div>

      <div class="inside">
        <p>Get every type problems and solution thats will boots your mind</p>
      </div>
    </div>
  </body>
</html>
