<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/loginpage.css" />
  </head>
  <body>
    <div class="login-info">
      <form action="#">
        <div class="imgcontainer">
          <h1>Log in</h1>
          <div class="bar"></div>
          <img src="../image/fecabook.png" alt="Login" />
          <img src="../image/twiter.jpg" alt="Login" />
          <img src="../image/icon.png" alt="Login" />
        </div>

        <div class="contain">
          <h3>Email</h3>
          <input
            type="text"
            placeholder="Enter username"
            name="uname"
            required
          />
          <h3>Password</h3>
          <input
            type="password"
            placeholder="Enter password"
            name="psw"
            required
          />
          <div class="flg">
            <input type="checkbox" checked="checked" />
            Remember me
            <span class="psw">Forget<a href="#">Password?</a></span>
          </div>
          <button type="submit">Submit</button>
          <div class="flg">
            <p>Privacy</p>
            <p>Terms & Conditions</p>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
