<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login-page</title>
    <link rel="stylesheet" href="../css/login-page.css" />
  </head>
  <body>
    <div class="main-page">
      <div class="log-in">
        <div class="head">
          <h1>Log in</h1>
        </div>
        <div class="bar"></div>

        <div class="icon">
          <a href="#"><img src="../image/facebook.png" alt="hh" /> </a>

          <a href="#"><img src="../image/in.png" alt="hh" /></a>

          <a href="#"><img src="../image/twitter.png" alt="hh" /></a>
        </div>
        <p>or use your email</p>
      </div>
      <div class="input">
          <div class="input1"><h4>Email</h4></div>
          <input type="text" placeholder="Email" />
          <h4>Password</h4>
          <input type="text" placeholder="Password" />
      </div>
      <div class="rem">
        <div class="box"></div>
        <div class="rem1">
          <h4>Remember Me</h4>
          <h4>Forgot Password?</h4>
        </div>
      </div>
      <button>submit</button>
      <div class="privacy">
        <h4>Privacy</h3>
        <h4>Terms & Conditions</h3>
      </div>
    </div>
  </body>
</html>
