<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/page.css" />
  </head>
  <body>
    <div class="main-page">
      <div class="card">
        <div class="card1">
          <div class="image">
            <img src="../image/mind.png" />
          </div>
          <div class="text">
            <div class="heading">
              <div class="icon">
                <img src="../image/flower.jpg" alt="hh" />
              </div>
              <div class="head">
                <h1>Train your mind by</h1>
                <div class="bar"></div>
                <div class="head2">
                  <h1>practising</h1>
                </div>
              </div>
            </div>
            <div class="paragraph">
              <p>
                Get Every types of problems and solutions that will boost your
                mind
              </p>
            </div>
          </div>
        </div>
        <div class="card2">
          <div class="image">
            <img src="../image/cat.png" />
          </div>
          <div class="text">
            <div class="heading">
              <div class="ico">
                <img src="../image/images.png" alt="hh" />
              </div>
              <div class="head">
                <h1>Train your mind by</h1>
                <div class="bar"></div>
                <div class="head2">
                  <h1>practising</h1>
                </div>
              </div>
            </div>
            <div class="paragraph">
              <p>
                Get Every types of problems and solutions that will boost your
                mind
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
