<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/page2.css" />
  </head>
  <body>
    <div class="main-page">
      <div class="head">
        <h1>Ready to Begin?</h1>
      </div>
      <div class="paragraph">
        <p>
          Learn and start improving ypur skills, It's free and always will be.
        </p>
      </div>
      <button>SEE OUR PROGRAMS</button>
    </div>
  </body>
</html>
