<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/page-info.css">
</head>
<body>
    <div class="main-page">
<div class="page-info"
<div class="heading">
<h1>Ready to Begin ?</h1>
</div>
<div class="page">
    <p>Learn and start improving your skills, it's fill and always will be.</p>
</div>
<div class="btnmade">
    <button>SEE OUR PROGRAMS</button>
</div>
</div>
</div>
</body>
</html>