<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/paragraph.css" />
  </head>
  <body>
    <div class="main-section">
      <div class="section">
        <h1>Styling Salecter</h1>
        <h3>Lorem ipsum dolor sit,consectetur adipisicing.</h3>
        <p>
          <i>
            <a ="#" href class="change" style="color: rgb(235, 113, 13)"
              >Lorem</a
            >
            ipsum dolor sit amet consectetur adipisicing elit. Quod aliquam
            beatae rerum facilis,
            <a ="#" href class="change">consectetur</a> voluptates quaerat!</i
          >
        </p>
        <div class="section-info">
          <p>
            <i>
              Lorem,<a ="#" href class="change" style="color: rgb(189, 9, 69)"
                >amet consectetur</a
              >
              ipsum dolor sit amet consectetur adipisicing elit. Excepturi sunt
              facere ipsum, voluptas similique modi. Sapiente voluptas eum eaque
              illum tenetur qui, quibusdam non voluptates reprehenderit saepe
              maiores dolorem quisquam? Lorem ipsum dolor sit
              <a ="#" href class="change" style="color: rgb(13, 179, 245)"
                >amet consectetur</a
              >
              adipisicing elit. Dolore fugiat rem iure deserunt cumque
              repudiandae laboriosam repellat, aut obcaecati enim? Lorem, ipsum
              dolor sit amet consectetur adipisicing elit. Sit quam nostrum,
              distinctio laboriosam itaque ea? Lorem ipsum dolor sit amet
              consectetur adipisicing elit.</i
            >
          </p>
          <p>
            <i>
              Lorem ipsum dolor,<a ="#" href class="change" style="color: red"
                >amet consectetur</a
              >
              sit amet consectetur adipisicing elit. Rerum magnam id excepturi
              hic. Eveniet cum harum obcaecati cupiditate dicta aspernatur eius
              necessitatibus eligendi<a
                ="#"
                href
                class="change"
                style="color: rgb(53, 12, 53)"
                >amet consectetur</a
              >
              nobis pariatur blanditiis, quidem fugiat distinctio magnam. Lorem
              ipsum dolor sit amet consectetur adipisicing elit. Nobis explicabo
              libero sint labore, pariatur alias voluptates similique ratione
              quidem sunt! Lorem ipsum dolor sit, amet consectetur adipisicing
              elit. Nam est a optio neque dicta error. Lorem ipsum dolor sit
              amet consectetur adipisicing elit. Ullam laborum cupiditate error
              hic eos.
            </i>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
