<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>style</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="main">
      <div class="style"><h1>Styling Selectors</h1></div>
      <div class="lorem">
        <h1>Lorem ipsum dolor sit elit.Voluptatem,ullam.</h1>
      </div>
      <p>
        <i>
          Lorem ipsum dolor, sit amet <a href="#">Lorem.</a> consectetur
          adipisicing elit.Laborum,possimus!Magni nesciunt eligendi<a href="#"
            >Lorem.</a
          >voluptas!
        </i>
      </p>
      <div class="para">
        <div class="ittaly">
          <p>
            <i>
              Lorem ipsum dolor sit, amet
              <a href="#">consectetur adipisicing</a>
              elit.Consequuntur,accusamus dolorum placeat,corporis velit numquam
              incidunt ipsum aspernatur inventore enim fugiat adio illum quaerat
              maiores! Ipsa quibusdam minima in mollitia beatae quos
              aspernatur.Voluptate,harum iure totam repellat dolor est voluptas
              adipisci fugiat ut doloribus sunt modi eveniet voluptatum.Fugiat.
            </i>
          </p>
        </div>
        <div class="ittali1">
          <p>
            <i>
              Lorem ipsum dolor sit, amet
              <a href="#">Lorem, ipsum dolor.</a>consectetur adipisicing
              elit.Consequuntur,accusamus dolorum placeat,corporis velit,
              numquam incidunt ipsum aspernature inventore enim fugiat odio
              illum quaerat maiores! Ipsa quibusdam minima in mollitia beatae
              quos aspernature. Voluptate, harum iure totam repellat dolor est
              voluptas adipisci fugiat ut doloribus sunt modi eveniet
              voluptatum.Fugiat.
            </i>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
